body {
    background-color: #eee;
    text-align: center;
}

/*your code here*/


table {
    text-align: left;
    margin: auto;
    border-collapse: collapse;
}

th {
    border-bottom: 2px solid black;
    padding: 4px;
}

td{
    border-bottom: 1px solid #d3d3d3;
    padding: 4px;
}

.clear{
    border-bottom: 0px solid #d3d3d3;
    padding: 4px;
}

#title{
    font-size: x-large;
    padding: 8px;
    font-weight: bold;
}

.correct{
    color: blue;
}

.incorrect{
    color: red;
}

.strikethrough{
    text-decoration: line-through;
}

.ui-autocomplete { height: 200px; overflow-y: scroll; overflow-x: hidden;}