html, body {
    background-color: white;
    overflow: auto;
    margin: 0;
    height: 100%;
}

.back_square {
    background-color: #eee;
    margin-bottom: 1%;
    width: 100%;
    position: relative;
}

.back_square.up {
    height: 29%;
}

.back_square.down {
    height: 69%;
}

.title {
    font-family: 'Roboto';
    font-size: xx-large;
    font-weight: bold;
    padding: 15px;
}

#ingredients {
    padding: 15px;
    text-align: left;
    font-size: large;
}

#head {
    font-family: 'Roboto';
    font-size: x-large;
    padding: 10px;
}

#necessary {
    width: 400px;
}

#non-necessary {
    width: 400px;
}

#amount {
    width: 200px;
}

#modify_amount {
    font-family: 'Roboto';
    font-size: large;
    padding: 10px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}