html, body {
    background-color: white;
    overflow: auto;
    margin: 0;
    height: 100%;
    font-size: medium;
    font-family: 'Roboto';
}


.content{
    display: inline-block;
}


th, td {
    padding: 5px;
}

#Search {
    float: left;
    margin-right: 70px;
}

#list {

    border: 1px solid black;
    padding: 5px;
    /*position: relative;*/
    float: left;
}

#list th {
    padding: 5px;
}

#page{
    max-width: fit-content;
    float: left;
}

 
#rec{
    width: 100%;
}


button[id="suggestR"] {
    background-color: skyblue;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-left: 10px;
    text-align: center;
}


/* The Modal (background) */
.modal{
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    padding-top: 100px;
    overflow: auto; /* Enable scroll if needed */

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
/* Modal Content */
.modal-content{
    background-color: #f9f9f9;
    width: fit-content;
    margin: auto;
    padding: 20px;
    border: 1px solid dashed;
}
/* Modal's Close Button */
.close{
    color: #aaaaaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
}
.close:hover,
.colse:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.list{
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 27%;
    height: 100%;
    float: right;
    background-color: #f2f2f2;
}

#setTable, #setTable td {
    border: 1px solid black;
    border: 1px solid black;
    border-collapse: collapse;
}
#setTable th{
    text-align: center;
    border: 1px solid black;
    border-top: 0px none;
    border-left: 0px none;
    border-right: 0px none;
}
#setTable {
    border-top: none;
    border-left: none;
    border-right: none;
}
#setTable td{
    padding: 4px;
}