html, body {
    background-color: white;
    overflow: auto;
    margin: 0;
    height: 100%;
}

.title {
    font-family: 'Roboto';
    font-size: xx-large;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 15px;
}


th, td {
    padding: 0px;
}


button[id="suggestR"]{
    background-color: aquamarine;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
}